
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

// img {
//   max-width: 100%;
// }

// Begin SCSS

body{
  background-color: #F5F5F1;
}
#etsy-logo{
  font-family: 'Georgia', serif;
  font-size: 36px;
  color: #F56400;
}

.etsy-item{
border: 1px solid #CBCCC9;
padding: 0;
margin-right: 5px;
}

#shop-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#shop-price{
  display: inline-block;
}

#shop-name{
  display: inline-block;
}

.shop-image{
  // height: 200px;
  min-width: 100%;
}
